@model WhatStore.Domain.Infrastructure.ViewModels.Admin.RegisterProductCategoryViewModel
@{
    Layout = "_Admin";
}

<title>Cadastrar Subcategorias</title>


<form class="form-group margin-top-20" asp-controller="admin" asp-action="subcategory" method="post">
    <div class="form-group float-left margin-left-40 ">

        <label>Categoria</label>
        <select id="dropCategories" type="text" class="form-control" value="@Model.Categories">
            <option value="-1">Selecione a categoria</option>
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id" selected>@category.CategoryName</option>
            }
        </select>

        <label class="margin-top-10">Subcategoria:</label>
        <input class="form-control float-left" asp-for="SubCategoryName" id="Subcategory" value="@Model.SubCategoryName" />
        <button class="btn btn-primary margin-top-10  float-left" type="submit" asp-controller="admin" asp-action="register/subcategory">Enviar</button>
    </div>
</form>

<table class="table margin-left-40 form-group" id="SubcategoryTable">
    <tr>
        <th class="tableRow">Subcategoria</th>
    </tr>

    @foreach (var subcategory in Model.Subcategorys)
            {

        <tr>
            <td class="tableRow">
                <form style="margin-bottom:-15px" class="form-group" asp-controller="admin" asp-action="update/subcategory" method="post">
                    <input name="subcategoryID" hidden value="@subcategory.Id" />
                    <input class="form-group custom-input-table" value="@subcategory.SubCategoryName" asp-for="SubCategoryName" />
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </td>
        </tr>

    }
</table>

@section Scripts{
    <script type="text/javascript">
        $('#dropCategories').ready(function () {
            $('#dropCategories');
        });
    </script>
}
