<!DOCUMENT html>
    <html>
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/font-awesome.css" />
    </head>


    <body>


        <div class="store-navbar">

            <div id="carrinho" class="shop margin-right-75 float-right margin-left-20" style="width:100px">
                <a class="color-grey fa fa-shopping-basket float-right margin-top-10">
                    <span class="btn-shop margin-left-20">00</span>
                </a>
            </div>

            <div class="float-right margin-right-50" style="width: 200px">
                <div class="float-right" style="width:100px">
                    <label>Olá! Faça seu login</label>
                    <button class="btn-login-store btn-primary margin-left-20">Entrar</button>
                </div>
                <span style="font-size: 14pt" class="color-grey fa fa-user float-right margin-right-10"></span>
            </div>

            <img class="float-left content-logo" src="@ViewBag.Logo" />

            <form class="div-input-search" asp-controller=" " asp-action=" " method="post">
                <input type="search" class="input-search float-center" placeholder="Buscar por..." />
                <button class="btn btn-primary btn-search" type="submit">
                    <span class="fa fa-search"></span>
                </button>
            </form>

        </div>

        <div id="nav">
            <ul>
                @foreach (var category in ViewBag.Categories)
                {
                    <li>
                        <a>@category.category.CategoryName</a>
                        @if (category.subcategories != null)
                        {
                            <ul>
                                @foreach (var subCategory in category.subcategories)
                                {
                                    <li><a>@subCategory.SubCategoryName</a></li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </div>
        <div class="store-content">
            <h1>@ViewBag.StoreName</h1>
            @RenderBody()
        </div>

    </body>



</html>



