<!DOCUMENT html>
    <html>
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/font-awesome.css" />
    </head>


    <body>


        <div class="store-navbar">

            <div id="carrinho" class="shop margin-right-75 float-right margin-left-20" style="width:100px">
                <a class="color-grey fa fa-shopping-basket float-right margin-top-10">
                    <span class="btn-shop margin-left-20">00</span>
                </a>
            </div>

            <div class="float-right margin-right-50 margin-top-10" style="width: 200px">
                <div class="float-right" style="width:100px">
                    <label>Olá! Faça seu login</label>
                    <a asp-controller="account" asp-action="RegisterUserStore" class="btn-login-store btn-primary margin-left-20">Entrar</a>
                </div>
                <span style="font-size: 14pt" class="color-grey fa fa-user float-right margin-right-10"></span>
            </div>

            <img class="float-left content-logo" src="@ViewBag.Logo" />

            <form class="div-input-search" asp-controller=" " asp-action=" " method="post">
                <input type="search" class="input-search float-center" placeholder="Buscar por..." />
                <button class="btn btn-primary btn-search" type="submit">
                    <span class="fa fa-search"></span>
                </button>
            </form>

        </div>

        <div id="nav">
            <ul>
                @foreach (var category in ViewBag.Categories)
                {
                    <li>
                        <a>@category.category.CategoryName</a>
                        @if (category.subcategories != null)
                        {
                            <ul>
                                @foreach (var subCategory in category.subcategories)
                                {
                                    <li><a href="@Url.Action($"list/", "product", new { id = subCategory.Id})">@subCategory.SubCategoryName</a></li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </div>

        <div class="store-content">
            @RenderBody()
        </div>

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        <script src="~/js/whatstore.js"></script>

        @RenderSection("scripts", required: false)
    </body>

</html>




