@model WhatStore.Domain.Infrastructure.ViewModels.Admin.RegisterFinancialViewModel

@{
    Layout = "_Admin";
}

<title>Financeiro - WhatStore</title>
<div class="admin-settings-content">
    <h3>Dados financeiros</h3>

    <form class="form-group margin-top-20" asp-controller="store" asp-action="financial" method="post">
   

        <div class="form-group">
            <label>Sobre o responsavel: </label>
            <textarea class="form-control" rows="10" style="resize: none;" name="About" value="@Model.About"> </textarea>
        </div>
        <div class="form-group">
            <div class="float-left">
                <label>Nome: </label>
                <input class="form-control" style="width:300px" required name="FirstName" value="@Model.FirstName"/>
            </div>

            <div class="float-right">
                <label> Sobrenome: </label>
                <input class="form-control" style="width:300px" required  name="LastName" value="@Model.LastName"/>
            </div>
        </div>

        <div class="form-group">
            <div class="float-left">
                <label>CPF: </label>
                <input type="text" class="form-control" style="width:300px" required name="CPF" value="@Model.CPF"/>
            </div>

            <div class="float-right">
                <label>RG: </label>
                <input type="text" class="form-control" style="width:300px" name="RG" value="@Model.Rg"/>
            </div>
        </div>

        <div class="form-group">
            <div class="float-left">
                <label>Data Nascimento: </label>
                <input type="date" class="form-control" style="width: 160px" required name="BirthDay" value="@Model.BirthDay"/>
            </div>

            <div class="float-left margin-left-40">
                <label>Genero: </label>
                <select class="form-control" style="width:150px;" name="Gender" value="@Model.Gender">
                    <option value="-1">Selecione</option>
                    <option value="false">Masculino</option>
                    <option value="true">Feminino</option>
                </select>
            </div>

            <div class="float-right">
                <div class="float-left margin-right-10">
                    <label>DDD: </label>
                    <input type="text" class="form-control" style="width:50px" maxlength="2" required name="DDD" value="@Model.DDD"/>
                </div>

                <div class="float-left">
                    <label>Telefone: </label>
                    <input type="text" class="form-control" style="width:150px" required name="Phone" value="@Model.Phone"/>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <h4>Pessoa Juridica?</h4>
            <div class="onoffswitch margin-right-10">
                <input type="checkbox" checked="@((Model.IsPessoaJuridica) ? true : false)" name="onoffswitch" class="onoffswitch-checkbox" id="checkPessoaJuridica" asp-for="IsPessoaJuridica" >
                <label class="onoffswitch-label" for="checkPessoaJuridica">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>

        <div id="PJ" class="form-group" style="display: @((Model.IsPessoaJuridica) ? "block" : "none");">

            <div class="form-group">
                <div class="float-left">
                    <label>CNPJ: </label>
                    <input class="form-control" style="width:200px;" name="CNPJ" value="@Model.CNPJ"/>
                </div>

                <div class="float-right">
                    <label>Razão social: </label>
                    <input class="form-control" style="width:800px;" name="RazaoSocial" value="@Model.RazaoSocial"/>
                </div>
            </div>

            <div class="form-group">
                <div class="float-left">
                    <label>Incrição estadual: </label>
                    <input class="form-control" style="width: 600px;" name="InscricaoEstadual" value="@Model.InscricaoEstadual"/>
                </div>


                <div class="float-right">
                    <label>Inscrição municipal: </label>
                    <input class="form-control" style="width: 600px;" name="InscricaoMunicipal" value="@Model.InscricaoMunicipal"/>
                </div>
            </div>
        </div>

        <hr />
        <div class="form-group">
            <h4>Endereço: </h4>
            <div class="float-left">
                <label>CEP: </label>
                <input class="form-control" style="width: 100px;" required name="CEP" value="@Model.CEP"/>
            </div>

            <div class="float-left margin-left-50">
                <label>Estado:</label>
                <select id="dropStates" class="form-control" style="width: 200px;" name="State">
                    <option value="-1">Selecione um estado</option>
                    @foreach (var state in Model.States)
                    {
                        <option value="@state.Id">@state.Initials</option>
                    }
                </select>
            </div>


            <div class="float-right">
                <label>Cidade: </label>
                <select id="dropCities" class="form-control" style="width: 200px;" disabled="disabled" name="CityID" value="@Model.CityID">
                    <option value="-1">Selecione uma cidade</option>
                </select>
            </div>

        </div>

        <div class="form-group">

                <div class="float-left" style="width:400px;">
                    <label>Endereço: </label>
                    <input class="form-control " required name="Street" value="@Model.Street"/>
                </div>

                <div class="float-right margin-left-10">
                    <label>Número: </label>
                    <input class="form-control " style="width: 150px;" required name="Number" value="@Model.Number"/>
                </div>

        </div>

        <div class="form-group">
            <label>Complemento:*</label>
            <input class="form-control" name="Complement" value="@Model.Complement"/>
        </div>

        <div class="form-group">
            <button class="btn btn-primary margin-top-10 float-right" style="height: 40px;" type="submit">Enviar</button>
        </div>

    </form>
</div>


@section Scripts{
    <script type="text/javascript">
        $("#checkPessoaJuridica").on("change", function () {
            if ($(this).is(":checked")) {
                $("#PJ").css("display", "block");
            }else {
                $("#PJ").css("display", "none")

            }
        });

        $(document).ready(function () {
            $('#dropStates').states($('#dropCities'));
        });

    </script>
}