@model WhatStore.Domain.Infrastructure.ViewModels.Account.RegisterUserStoreCompViewModel
@{
    Layout = "_RegisterUserStore";
}

    <title>Register</title>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script src="~/js/whatstore.js"></script>



    <form class="formRegisterUserStore float-center margin-bottom-50" asp-controller="account" asp-action="~/{store}/register/user" method="post">

        <div class="float-left font-size13">
            <div class="float-left margin-right-10 font-size13">
                <label>Nome: </label>
                <input type="text" class="form-control" style="width:150px" asp-for="FirstName" required  value="@Model.FirstName"/>
            </div>

            <div class="float-right font-size13">
                <label>Sobrenome: </label>
                <input type="text" class="form-control" style="width:190px" required asp-for="LastName" value="@Model.LastName"/>
            </div>
        </div>

        <div class="float-left margin-top-10 font-size13">
            <div class="float-left margin-right-10 font-size13">
                <label>RG: </label>
                <input type="text" class="form-control" style="width:170px" required asp-for="RG" value="@Model.RG"/>
            </div>

            <div class="float-right font-size13">
                <label>CPF: </label>
                <input type="text" class="form-control" style="width:170px" required asp-for="CPF" value="@Model.CPF"/>
            </div>
        </div>

        <div class="float-left margin-top-10 font-size13">
            <div class="float-left margin-right-10 font-size13">
                <label>Data de nascimento:</label>
                <input type="date" class="form-control" required asp-for="Birthday" style="width:170px" value="@Model.Birthday"/>
            </div>

            <div class="float-right font-size13">
                <label>Genero: </label>
                <select id="Genero" class="form-control" style="width:170px" asp-for="Genero">
                    <option value="-1">Selecione um genero</option>
                    <option value="false">Masculino</option>
                    <option value="true">Feminino</option>
                </select>
            </div>
        </div>

        <div class="float-left margin-top-10 font-size13">
            <div class="float-left margin-right-10 font-size13">
                <label>DDD: </label>
                <input type="text" class="form-control" style="width:90px" maxlength="2" required asp-for="PhoneDDD" value="@Model.PhoneDDD"/>
            </div>
            <div class="float-right font-size13">
                <label>Telefone: </label>
                <input type="text" class="form-control" style="width:250px" required asp-for="PhoneNumber" value="@Model.PhoneNumber"/>
            </div>
        </div>

        <div class="float-left margin-top-10 font-size13">
            <div class="float-left margin-right-10 font-size13">
                <label>Estado:</label>
                <select id="dropStates" class="form-control" style="width:170px" asp-for="State">
                    <option value="-1">Selecione seu estado</option>
                    @foreach (var state in Model.States)
                    {
                        if (state.Id == Model.State)
                        {
                            <option value="@state.Id" selected>@state.Initials</option>

                        }
                        else
                        {
                            <option value="@state.Id">@state.Initials</option>
                        }
                    }
                </select>
            </div>


            <div class="float-right font-size13">
                <label>Cidade: </label>
                <select id="dropCities" class="form-control" style="width:170px" value="@Model.CityID">
                    <option value="-1">Selecione sua cidade</option>
                    @if (Model.CityID > 0)
                    {
                        <option value="@Model.CityID" selected>@Model.CityName</option>

                    }
                </select>
            </div>
        </div>

        <div class="float-left row margin-top-10 font-size13">
            <label>CEP: </label>
            <input class="form-control" required asp-for="CEP" value="@Model.CEP"/>
        </div>

        <div class="float-left row margin-top-10 font-size13">
            <label>Endereço: </label>
            <input class="form-control" required asp-for="Street" value="@Model.Street"/>
        </div>

        <div class="float-left margin-top-10 font-size13">
            <div class="float-left margin-right-10 font-size13">
                <label>Número: </label>
                <input class="form-control " style="width: 120px;" required asp-for="Number" value="@Model.Number"/>
            </div>

            <div class="float-right font-size13">
                <label>Complemento:</label>
                <input class="form-control" style="width: 225px;" asp-for="Complement" value="@Model.Complement"/>
            </div>
        </div>

        <div class="float-left row margin-top-10 font-size13">
            <label>Email: </label>
            <input type="text" class="form-control" required asp-for="Email" value="@Model.Email"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="float-left row margin-top-10 font-size13">
            <label>Senha: </label>
            <input type="password" class="form-control" required asp-for="Password" value="@Model.Password"/>
        </div>

        <div class="float-left row margin-top-10 font-size13 ">
            <button type="submit" style="height: 40px !important;"  class="btn btn-primary margin-bottom-20 row">Registrar</button>
        </div>
    </form>



<script type="text/javascript">


    $('#dropStates').states($('#dropCities'));


</script>
