@model WhatStore.Domain.Infrastructure.ViewModels.Account.RegisterUserViewModel

@{
    Layout = null;
}
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>Cadastro - WhatStore</title>
</head>

<body>
    <a asp-controller="home" asp-action="index"><div class="logo-register margin-top-75 float-center" asp-action="home"></div></a>

    <form class="formRegister formLogin float-center margin-top-20 margin-bottom-50" asp-controller="account" asp-action="register/user" method="post">

        @if (ViewBag.Errors != null)
        {
            <div class="alert alert-danger" role="alert">
                @Html.Raw(ViewBag.Errors)
            </div>
        }

        <div class="row margin-top-10 font-size13">
            <label>Nome: </label>
            <input type="text" class="form-control" asp-for="Name" required />
        </div>
        <div class="row margin-top-10 font-size13">
            <label>Sobrenome: </label>
            <input type="text" class="form-control" required asp-for="LastName"  />
        </div>
        <div class="row margin-top-10 font-size13">
            <label>RG: </label>
            <input type="text" class="form-control" required asp-for="RG"  />
        </div>
        <div class="row margin-top-10 font-size13">
            <label>CPF: </label>
            <input type="text" class="form-control" required asp-for="CPF"/>
        </div>
        <div class="row margin-top-10 font-size13">
            <label>Data de nascimento:</label>
            <input type="date" class="form-control" required asp-for="Birthday" value="@Model.Birthday.ToString("yyyy-MM-dd")"/>
        </div>
        <div class="row margin-top-10 font-size13">
            <label>Genero: </label>
            <select id="Genero" class="form-control" asp-for="Genero" value="@Model.Genero">
                <option value="-1">Selecione um genero</option>
                <option value="false">Masculino</option>
                <option value="true">Feminino</option>                
            </select>            
        </div>

        <div class="row margin-top-10 form-group">
            <label>Nome da Loja: </label>
            <input type="text" class="form-control" asp-for="StoreName" required/>
        </div>

        <div class="row margin-top10 form-group">
            <label>Tipos de Loja:</label>
            <select id="StoreTypeID" class="form-control" name="StoreTypeID">
                <option value="-1">Selecione um Tipo</option>
               @foreach (var storeType in Model.StoreTypes)
                {
                    <option value="@storeType.Id">@storeType.Name</option>
                }
            </select>
        </div>

        <div class="row margin-top-10 font-size13">
            <label>Email: </label>
            <input type="text" class="form-control" required asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="row margin-top-10 font-size13">
            <label>Senha: </label>
            <input  type="password" class="form-control" required asp-for="Password" />
        </div>
        <div class="row margin-top-10 font-size13 ">
            <button type="submit" style="height: 40px !important;" class="btn btn-primary margin-bottom-20 row">Registrar</button>
        </div>
        <div class="row margin-top-10 font-size13">
            Já está cadastrado? <a asp-controller="account" asp-action="login" class="links hover-from-center">Clique aqui para entrar.</a>
        </div>
    </form>
</body>
</html>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#dropStore');
        });



    </script>
}